<div style=" background-color: #F0F0D8; height:75vh;">
    <div class="d-flex flex-row justify-content-evenly" style="height: 100%;">
        <!-- caja completa -->
        <div class="d-flex flex-column justify-content-center" style="height:100%">
                  <!-- caja de boton -->
            <div>
                <a class="btn btn-lg p-2 holder "style=" border: solid 2px #604848;" [routerLink]="['/form']"><img src="./assets/add-user.png" alt="" style="height:5rem;"> <br>Agregar</a>
            </div>
        </div>
        <!-- caja completa -->
        <div class="d-flex flex-column justify-content-center" style="height:100%">
                  <!-- caja de boton -->
            <div>
                <a class="btn btn-lg p-2 holder "style=" border: solid 2px #604848;"><img src="./assets/portapapeles.png" alt="" style="height:5rem;"> <br>Modificar</a>
            </div>
        </div>
        <!-- caja completa -->
        <div class="d-flex flex-column justify-content-center" style="height:100%">
                  <!-- caja de boton -->
            <div>
                <a class="btn btn-lg p-2 holder "style=" border: solid 2px #604848;" [routerLink]="['/lista']"><img src="./assets/cells.png" alt="" style="height:5rem;"> <br>Consultar</a>
            </div>
        </div>
    </div>

</div>