<div style=" margin: auto; height: 75vh;" class=" d-flex flex-column align-items-center">

    <div class=" mt-4" style="width:25% ;">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>

    <div class="mb-3 mt-4" style="width:25% ;">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3" style="width:25% ;">
        <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
</div>